<!-- 生成目录 -->
<% if (!index && config.toc) { %>
    <div id="toc-mask" style="display: none;">
        <div class="toc-container">
            <div class="article-toc">
                <%- toc(post.content, {list_number: false}) %>
            </div>
        </div>
    </div>
<% } %>

<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
    <% if (!index){ %>
        <div class="content-table">显示目录</div>
    <%}%>

    <%if(post.noDate != "true"){%>
        <div class="article-meta">
            <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
        </div>
    <%}%>

    <% if (index) { %>
        <div class="article-inner">
    <% } else { %>
        <div class="article-inner article-inner-x">
    <% } %>
    <% if (theme.fancybox){ %>
      <input type="hidden" class="isFancy" />
    <% } %>
    <% if (post.link || post.title){ %>
      <header class="article-header">
        <%- partial('post/title', {class_name: 'article-title'}) %>
      </header>
      <% if (!index){ %>
      <div class="article-info article-info-post">
        <%- partial('post/tag') %>
        <%- partial('post/category') %>
        <div class="clearfix"></div>
      </div>
      <% } %>
    <% } %>
    <div class="article-entry" itemprop="articleBody">
        <% if (post.excerpt && index) { %>
            <%- post.excerpt %>
        <% } else { %>
            <%- post.content %>
        <% } %>
    </div>
    <% if (index){ %>
    <div class="article-info article-info-index">
      <%if(post.top){%>
        <div class="article-pop-out tagcloud">
          <a class="">置顶</a>
        </div>
      <% } %>
      <%- partial('post/tag') %>
      <%- partial('post/category') %>
      <% if (post.excerpt && index){ %>
        <p class="article-more-link">
          <a <% if (!theme.excerpt_link){ %>class="hidden"<% } %> href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
        </p>
      <% } %>
      <div class="clearfix"></div>
    </div>
    <% } %>
  </div>
  <% if (!index && theme.donate){ %>
      <%- partial('donate') %>
  <% } %>
  <% if (!index){ %>
    <%- partial('post/nav') %>
  <% } %>

</article>

<% if (!index && post.comments) { %>
    <!-- UY BEGIN -->
    <section id="comments">
        <!-- <div id="uyan_frame"></div>
        <script>
            var uyan_config = {'du': '<%=theme.uyan_du%>'};
        </script>
        <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=<%= theme.uyan_id %>"></script>
        -->

        <!--畅言: PC和WAP自适应版-->
        <div id="SOHUCS" sid="<%= page.permalink %>" ></div>
        <script type="text/javascript">
        (function(){
        var appid = 'cyt3QegCW';
        var conf = 'prod_0dbe011d0610aea0584dc8a971341494';
        var width = window.innerWidth || document.documentElement.clientWidth;
        if (width < 960) {
        window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="//changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>'); } else { var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("//changyan.sohu.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})}); } })(); </script>
    </section>
    <!-- UY END -->
<% } %>

<% if(!index) { %>
    <script>
        $(document).ready(function() {
            $('.menu .item.non-index-item').show();
        });
    </script>
<% } %>

<script type="text/javascript">
$(document).ready(function() {
    var $tocMask = $('#toc-mask');

    $(document).keyup(function(e) {
        if (e.keyCode == 49) {
            $tocMask.toggle();
        }
    });

    $(document).on('click', '#show-toc-button, .content-table', function() {
        $tocMask.toggle();
    });

    // 隐藏 Mask
    $(document).on('click', '#toc-mask, #toc-mask .toc-link', function() {
        $tocMask.hide();
    });
});
</script>
